<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Sketch</title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="stylesheet"
    />
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <div id="sketch-container">
        <div id="sketch"></div>
      </div>
    </main>

    <!-- p5 Sketch -->
    <script type="module">
      import p5 from "../node_modules/p5/lib/p5.esm.js";
      import sketch from "./sketch.js";

      // Initialize p5 sketch onto #sketch
      new p5(sketch, "sketch");
    </script>
  </body>
</html>
